@charset "UTF-8";

@font-face {
    font-family: idroid;
    src: url(fontes/idroid.otf);
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: #8edfc6;

}

header {
    background-image: linear-gradient(to bottom, #008C72, #005A5B);
    padding: 20px 10px 15px 10px;
    color: white;
}

header>h1 {
    text-align: center;
    font-size: 2.2em;
    font-weight: 900;
}

header>p {
    text-align: center;
    margin: 25px 0px 30px 0px;
    font-weight: bold;
}

nav {}

nav>a {
    text-decoration: none;
    color: white;
    margin-left: 15px;
    padding: 10px;
    border-radius: 8px;
}

nav>a:hover {
    background-color: #003840;
    color: white;
}

main {
    background-color: white;
    width: 70%;
    padding: 20px;
    margin: auto;
}

.tituloPrincipal {
    font-family: idroid;
    color: #003840;
}

.ident {
    text-indent: 30px;
}

.subtitulo {
    font-family: idroid;
    background-image: linear-gradient(to right, #94d8cb, white);
    color: #003840;
    padding-left: 10px;
}

.secVideo {
    background-color: #003840;
    padding: 20px;
}
 h3 {
    background-color: #008C72;
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    margin: 20px 0px 0px 0px;
 }
 .extra {
    background-color: #94d8cb;
    padding: 10px;
 }